{% extends 'MESDJasperReportViewerBundle::base.html.twig' %}

{% block sidebar %}
{% endblock sidebar %}

{% block container %}
    <section class="content">
        <div class="content-panel">
            <h2>Report Home</h2>
            <div id="jstree" data-url="{{ url('MESDJasperReportViewerBundle_reports_json') }}"></div>
        </div>
    </section>
{% endblock container %}