{% extends 'MESDJasperReportViewerBundle::base.html.twig' %}

{% block sidebar %}
{% endblock sidebar %}

{% block container %}
    <section class="content">
        <div class="content-panel">
            <h2>History</h2>
            <table id="dataTable" class="table table-condensed table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Report</th>
                        <th>Date</th>
                        <th>Username</th>
                        <th>Parameters</th>
                        <th>Output</th>
                    </tr>
                </thead>
            </table>
        </div>
    </section>
{% endblock container %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var historyTable;
        $(document).ready(function() {
            {% if reportUri %}
                var url = "{{ url('MESDJasperReportViewerBundle_report_history_single_json', { 'reportUri': reportUri }) }}";
            {% else %}
                var url = "{{ url('MESDJasperReportViewerBundle_report_history_json') }}";
            {% endif %}
        //Convert the table with the datatable id into a datatable
            historyTable = $('#dataTable').dataTable({
                'processing': true,
                'serverSide': true,
                'ajax': url,
                'info': false,
                'searching': false,
                'lengthChange': false,
                'pagingType': 'full_numbers'
            });
        });
    </script>
{% endblock javascripts %}